.live-example {
  @extend .border;
  font-size: $font-size-sm;
  font-family: $font-family-code;

  .splitpanes--vertical > .splitpanes__splitter {
    position: relative;
  }

  .splitpanes--vertical > .splitpanes__splitter::after {
    position: absolute;
    border-radius: 50%;
    content: "↔";
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid $primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: $primary;
  }

  .ͼ1l {
    background-color: $gray-900;
  }
}