.safe-area-top {
  @supports (padding: env(safe-area-inset-top)) {
    margin-top: env(safe-area-inset-top);
  }
}

.safe-area-bottom {
  @supports (margin: env(safe-area-inset-bottom)) {
    margin-bottom: env(safe-area-inset-bottom);
  }
}

.safe-area-middle {
  @supports (margin: env(safe-area-inset-top)) {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
}